<div class="auth-wrapper">
  <mat-card>
    <h2>Reset your password</h2>
    <p style="text-align: center; margin-top: -10px;">
      Enter your email and we'll send you a reset link
    </p>

    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <button mat-raised-button type="submit" class="full-width" [disabled]="!resetForm.valid">
        Reset password
      </button>
    </form>

    <div class="auth-links">
      <a routerLink="/auth">Back to login</a>
      <a routerLink="/auth/signup">Sign up</a>
    </div>
  </mat-card>
</div>