<div class="auth-wrapper">
  <mat-card>
    <h2>Sign up</h2>

    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button type="submit" class="full-width" [disabled]="!signupForm.valid">
        Sign up
      </button>
    </form>

    <div class="auth-links">
      <a routerLink="/auth">Back to login</a>
    </div>
  </mat-card>
</div>