<div class="auth-wrapper">
  <mat-card>
    <h2>Log in</h2>

    <div class="social-login">
      <button mat-stroked-button>
        <mat-icon>account_circle</mat-icon>&nbsp;Continue with Google
      </button>
      <button mat-stroked-button>
        <mat-icon>apple</mat-icon>&nbsp;Continue with Apple
      </button>
    </div>

    <div class="divider">OR</div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email or Username</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Log in
      </button>
    </form>

    <div class="auth-links">
      <a routerLink="/forgot-password">Forgot password?</a>
      <a routerLink="/register">Sign up</a>
    </div>
  </mat-card>
</div>