<div class="auth-wrapper">
  <mat-card>
    <h2>Log in</h2>
    <br>
    <br>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email or username</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" class="full-width" [disabled]="!loginForm.valid">
        {{ isLoginMode ? 'Log in' : 'Sign Up' }}
      </button>
    </form>

    <div class="auth-links">
      <a href="#">Forgot password?</a>
      <a href="#" (click)="toggleMode()">Sign Up</a>
    </div>
  </mat-card>
</div>