.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  padding: 20px;
  background-color: #ffffff00;

  ::ng-deep mat-card {
    max-width: 500px;
    width: 100%;
    background-color: #ffffff;
    padding: 32px;
    border-radius: 25px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Reddit Sans', sans-serif;
    margin: auto;

    h2 {
      margin-bottom: 16px;
      text-align: center;
      font-size: 24px;
      font-weight: 500;
    }

    .social-login {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-bottom: 20px;

      button {
        text-transform: none;
        font-weight: 500;
        border-radius: 8px;
        font-family: 'Reddit Sans', sans-serif;
        justify-content: flex-start;

        img {
          margin-right: 12px;
        }
      }
    }

    .divider {
      text-align: center;
      margin: 16px 0;
      position: relative;
      color: #888;
      font-weight: 500;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 50%;
        width: 45%;
        height: 1px;
        background-color: #ccc;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-family: 'Reddit Sans', sans-serif;

      .full-width {
        width: 100%;
      }

      ::ng-deep .mdc-floating-label--required:not(.mdc-floating-label--hide-required-marker)::after {
        content: '' !important;
      }

      ::ng-deep .mat-mdc-form-field {
        margin: 0 !important;
      }

      ::ng-deep .mat-mdc-text-field-wrapper {
        padding: 0 !important;
        margin: 0 !important;
      }

      ::ng-deep .mat-mdc-form-field-infix {
        padding: 8px 0 !important;
        margin: 0 !important;
        min-height: 56px;
        font-family: 'Reddit Sans', sans-serif;
        color: #4a75ff;
      }

      ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        margin: 0 !important;
        padding: 0 !important;
        height: 0 !important;
      }

      ::ng-deep .mat-mdc-form-field-flex {
        background-color: #fff;
        border: 1px solid #4a75ff;
        border-radius: 6px;
        align-items: center;
      }

      ::ng-deep .mdc-floating-label {
        font-family: 'Reddit Sans', sans-serif;
        color: #4a75ff;
      }

      ::ng-deep input.mat-mdc-input-element {
        color: #2b2a35;
        font-family: 'Reddit Sans', sans-serif;
        font-size: 15px;
        padding: 0 10px;
        caret-color: #4a75ff;
      }

      button[type='submit'] {
        background-color: #e0e0e0;
        color: #4a75ff;
        font-weight: bold;
        border-radius: 24px;
        height: 44px;
        font-family: 'Reddit Sans', sans-serif;
      }
    }

    .auth-links {
      margin-top: 16px;
      text-align: center;
      font-size: 14px;
      display: flex;
      justify-content: space-between;

      a {
        color: #4a75ff;
        text-decoration: none;
        font-weight: 500;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}