.card-container {
    margin: 16px;
    max-width: 60%;
    padding-bottom: 30px;
}

mat-card {
    padding: 10px;
}

.example-header-image { 
    background-image: url('https://angular.io/assets/images/logos/angular/angular.png');
    background-size: cover;
}

mat-card-content {
    margin-top: 10px;
}

mat-card-footer {
    margin-left: 20px;
}

.img {
    object-fit: cover;
}

.comment-card {
    margin-top: 20px;
}

mat-card-field { 
    width: 100%;
}

.comment-card form {
  display: flex;
  flex-direction: column;
}

.comment-card mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}