.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #cbecc0;
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(1px);
  padding: 0 10px;
}

.logo-img {
  height: 75px;
  margin-top: 8px;
}

.search-container {
  flex: 0 0 350px;
  margin: 0 20px;
  align-self: center;

  mat-form-field {
    width: 100%;
    border-radius: 24px;
    padding: 0 12px;

    ::ng-deep .mdc-text-field--filled {
      background-color: transparent !important;
      box-shadow: none !important;
    }

    ::ng-deep .mat-mdc-form-field-focus-overlay {
      background-color: transparent !important;
    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
      display: none !important;
    }

    ::ng-deep .mdc-text-field__input {
      color: #4a75ff !important;
      caret-color: #4a75ff !important;
      height: 40px;
      line-height: 40px;
      padding: 0;
      padding-left: 10px;
      background-color: rgb(248, 248, 248);
      border-radius: 17px;
      box-shadow: 0 3px 4px rgba(128, 128, 128, 0.3);
    }

    ::ng-deep .mdc-line-ripple::before {
    background-color: #4a75ff !important;
    }

    ::ng-deep .mdc-line-ripple {
      background-color: #ccc !important;
    }

    ::ng-deep .mdc-text-field__input::placeholder {
      color: #4a75ff;
      font-size: 15px;
      vertical-align: middle;
      padding-left: 1px;
    }
  }
}

.search-results {
  background-color: #fff;
  margin: 10px auto;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.content-container {
  margin-top: 20px;
  padding: 20px;
}