<mat-toolbar>

  <a routerLink="/">
    <img src="assets/paws.png" alt="Logo" class="logo-img" />
  </a>

  <span class="example-spacer"></span>

  <div class="search-container">
    <mat-form-field appearance="fill" class="custom-mat-search">
      <input
        matInput
        type="text"
        [(ngModel)]="currentQuery"
        (input)="onSearchChange()"
        (keyup.enter)="onSearchEnter()"
        placeholder="Search paws"
      />
    </mat-form-field>
  </div>

  <span class="example-spacer"></span>

  <button class="createview-button" mat-button color="primary" routerLink="/create-post">Create</button>
  <button class="createview-button" mat-button color="primary" routerLink="/view-all">View</button>
  <button class="createview-button" mat-button color="primary" routerLink="/auth">Log in</button>

</mat-toolbar>

<div class="search-results" *ngIf="searchResults.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let result of searchResults" (click)="goToPost(result.id)">
      {{ result.name }}
    </mat-list-item>
  </mat-list>
</div>

<div class="content-container">
  <router-outlet></router-outlet>
</div>